.card {
   width: 395px;
   min-height: 666px;
   background: #FFFFFF;
   box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
   border-radius: 32px;
   padding: 20px;
   position: relative;
   display: flex;
   flex-direction: column;
}

.mugShotContainer {
   position: relative;
   box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.1);
   border-radius: 24px;
   height: 160px;
}

.mugShot {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 24px;
}

.name {
   position: absolute;
   margin: 0;
   top: 16px;
   width: 100%;
   font-weight: 800;
   font-size: 32px;
   line-height: 100%;
   text-align: center;
   text-transform: uppercase;
   color: #E51A2B;

   text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.description {
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   flex-grow: 2;
}

.attributeList {
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
}

.attribute {
    color: red;
}

.star {
   position: absolute;
   right: -20px;
   top: -20px;
   z-index: 50;
}
