@value blueInner: #006EFF;
@value blueOuter: #0058CC;
@value yellowInner: #F9D006;
@value yellowOuter: #C7A705;
@value greenInner: #39C639;
@value greenOuter: #2E9E2E;
@value purpleInner: #6E19E6;
@value purpleOuter: #5814B8;
@value redInner: #E51A2B;
@value redOuter: #B81422;

.container {
   width: 100%;
   display: flex;
   padding: 10px 0;
   background-color: transparent;
   border: none;
   align-items: center;
   cursor: pointer;
}

.bar {
   flex-grow: 1;
   filter: drop-shadow(0px 3px 0px rgba(41, 51, 61, 0.2));
   border: 4px solid;
   border-radius: 18px;
   height: 36px;
}

.innerBorder {
   flex-grow: 1;
   padding: 2px;
}

.innerBarShadow {
   flex-grow: 1;
   border-radius: 50px;
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
   padding: 4px;
}

.innerBar {
   height: 16px;
   border-radius: 8px;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.red .innerBar {
   background: linear-gradient(180deg, #FFFFFF 0%, #F5A3AA 100%)
}

.purple .innerBar {
   background: linear-gradient(180deg, #FFFFFF 0%, #C5A3F5 100%)
}

.green .innerBar {
   background: linear-gradient(180deg, #FFFFFF 0%, #B0E8B0 100%)
}

.blue .innerBar {
   background: linear-gradient(180deg, #FFFFFF 0%, #99C5FF 100%)
}

.yellow .innerBar {
   background: linear-gradient(180deg, #FFFFFF 0%, #FCEC9C 100%)
}

.number {
   display: inline;
   color: #FFF;
   font-weight: 800;
   font-size: 32px;
   line-height: 100%;
   width: 40px;
   height: 32px;
   align-self: center;
   text-align: center;
   filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.1));
}

.star {
   position: absolute;
   right: -40px;
   top: 0;
}

.att {
   width: 60px;
   height: 60px;
   border-radius: 30px;
   border: 4px solid;
   filter: drop-shadow(0px 3px 0px rgba(41, 51, 61, 0.2));
}

.innerCircleShadow {
   flex-grow: 1;
   border-radius: 50%;
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
   padding: 8px;
   display: flex;
}

.blue.gradient {
   background: linear-gradient(180deg, blueInner 0%, blueOuter 100%);
}

.yellow.gradient {
   background: linear-gradient(180deg, yellowInner 0%, yellowOuter 100%);
}

.green.gradient {
   background: linear-gradient(180deg, greenInner 0%, greenOuter 100%);
}

.purple.gradient {
   background: linear-gradient(180deg, purpleInner 0%, purpleOuter 100%);
}

.red.gradient {
   background: linear-gradient(180deg, redInner 0%, redOuter 100%);
}

.att.blue, .bar.blue {
   border-color: blueInner;
}

.att.yellow, .bar.yellow {
   border-color: yellowInner;
}

.att.green, .bar.green {
   border-color: greenInner;
}

.att.purple, .bar.purple {
   border-color: purpleInner;
}

.att.red, .bar.red {
   border-color: redInner;
}


.red.number  {
   text-shadow:
      4px 0 0 redInner,
      -4px 0 0 redInner,
      0 4px 0 redInner,
      0 -4px 0 redInner,
      2px 2px redInner,
      -2px -2px 0 redInner,
      2px -2px 0 redInner,
      -2px 2px 0 redInner;
}

.purple.number  {
   text-shadow:
      4px 0 0 purpleInner,
      -4px 0 0 purpleInner,
      0 4px 0 purpleInner,
      0 -4px 0 purpleInner,
      2px 2px purpleInner,
      -2px -2px 0 purpleInner,
      2px -2px 0 purpleInner,
      -2px 2px 0 purpleInner;
}

.green.number  {
   text-shadow:
      4px 0 0 greenInner,
      -4px 0 0 greenInner,
      0 4px 0 greenInner,
      0 -4px 0 greenInner,
      2px 2px greenInner,
      -2px -2px 0 greenInner,
      2px -2px 0 greenInner,
      -2px 2px 0 greenInner;
}

.blue.number  {
   text-shadow:
      4px 0 0 blueInner,
      -4px 0 0 blueInner,
      0 4px 0 blueInner,
      0 -4px 0 blueInner,
      2px 2px blueInner,
      -2px -2px 0 blueInner,
      2px -2px 0 blueInner,
      -2px 2px 0 blueInner;
}

.yellow.number  {
   text-shadow:
      4px 0 0 yellowInner,
      -4px 0 0 yellowInner,
      0 4px 0 yellowInner,
      0 -4px 0 yellowInner,
      2px 2px yellowInner,
      -2px -2px 0 yellowInner,
      2px -2px 0 yellowInner,
      -2px 2px 0 yellowInner;
}
