.container {
   width: 100%;
   display: flex;
   padding: 10px 0;
   background-color: transparent;
   border: none;
   align-items: center;
}
.icon {
   width: 48px;
   height: 48px;
   border-radius: 100px;
   margin-right: 10px;
}
.bar {
   display: flex;
   flex-grow: 2;
   align-items: center;
}

.outerBar {
   position: relative;
   width: 100%;
   border-radius: 100px;
   height: 32px;
   align-self: center;
   display: flex;
}

.innerBar {
   position: absolute;
   height: 100%;
   border-radius: 100px;
   align-self: center;
   display: flex;
   padding: 4px;
}

.number {
   display: inline;
   color: #FFF;
   font-weight: 800;
   font-size: 32px;
   line-height: 100%;
   width: 40px;
   height: 32px;
   align-self: center;
   text-align: center;
}

.star {
   position: absolute;
   right: -40px;
   top: 0;
}

.attribute {
   position: relative
}
