@value medium from '../settings/breakpoints.module.css';

.resultContainer {
   height: 100%;
   width: 100%;
}

@media (medium) {
   .resultContainer {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 40px;
   }
}

.resultsFooter {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px 0;
}

.button {
   height: 60px;
   align-self: flex-end;
}
