.container {
   width: 100%;
   display: flex;
   padding-bottom: 10px;
}
.icon {
   width: 48px;
   height: 48px;
   border: 6px solid #E51A2B;
   background: linear-gradient(180deg, #E51A2B 0%, #B81422 100%);
   filter: drop-shadow(0px 3px 0px rgba(41, 51, 61, 0.2));
   border-radius: 100px;
   margin-right: 10px;
}
.bar {
   display: flex;
   flex-grow: 2;
   align-items: center;
}

.outerBar {
   width: 100%;
   border: 6px solid #E51A2B;
   background: linear-gradient(180deg, #E51A2B 0%, #B81422 100%);
   filter: drop-shadow(0px 3px 0px rgba(41, 51, 61, 0.2));
   border-radius: 100px;
   height: 32px;
   align-self: center;
   display: flex;
}

.innerBar {
   position: absolute;
   height: 100%;
   background: linear-gradient(180deg, #FFFFFF 0%, #F5A3AA 100%);
   border-radius: 100px;
   align-self: center;
   display: flex;
   padding: 4px;
}

.number {
   display: inline;
   color: #FFF;
   text-shadow: 4px 0 0 #E51A2B, -4px 0 0 #E51A2B, 0 4px 0 #E51A2B, 0 -4px 0 #E51A2B, 2px 2px #E51A2B, -2px -2px 0 #E51A2B, 2px -2px 0 #E51A2B, -2px 2px 0 #E51A2B;
   font-weight: 800;
   font-size: 32px;
   line-height: 100%;
   width: 40px;
   height: 32px;
   align-self: center;
   text-align: center;
}
