.intro {
   width: 580px;
   height: 368px;
   padding: 90px;

   background: linear-gradient(180deg, #FADA38 0%, #F9D006 100%);
   /* Neutral tints / White */

   border: 8px solid #FFFFFF;
   box-sizing: border-box;
   box-shadow: 0px 8px 24px rgba(41, 51, 61, 0.1), inset 0px 8px 16px #C7A705;
   border-radius: 32px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.nameInput {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   padding: 16px;
   width: 100%;
   background: #FFFFFF;
   box-shadow: inset 0px 4px 0px #F0F2F5;
   border-radius: 100px;
   font-weight: 800;
   font-size: 24px;
   line-height: 24px;
   box-sizing: border-box;
   margin-top: 30px;
   text-align: center;
}

.text {
   font-weight: 800;
   font-size: 22px;
   line-height: 30px;
   margin: 0
}

.logo {
   position: absolute;
   background-image: url("/Logo.png");
   width: 360px;
   height: 175px;
   top: -88px;
   background-size: contain;
}
