.about {
   width: 600px;
   height: 368px;
   padding-left: 200px;
   padding-right: 200px;

   background: linear-gradient(180deg, #FADA38 0%, #F9D006 100%);
   /* Neutral tints / White */

   border: 8px solid #FFFFFF;
   box-sizing: border-box;
   box-shadow: 0px 8px 24px rgba(41, 51, 61, 0.1), inset 0px 8px 16px #C7A705;
   border-radius: 32px;

   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   position: relative;
   text-align: center;
}

.text {
   padding-top: 57px;
   font-weight: 800;
   font-size: 22px;
   line-height: 30px;
   margin: 0
}


.title {
   padding-top: 48px;
   font-weight: 800;
   font-size: 24px;
   line-height: 30px;
   margin: 0;
}
